{% extends 'base.html.twig' %}

{% block title %}Creation d'un admin{% endblock %}

{% block body %}
    <h1>Creation d'un admin</h1>

    {{ include('admin_user/_form.html.twig') }}

    <a class="btn btn-danger" href="{{ path('app_admin_user_index') }}">Retour</a>
{% endblock %}
